@import 'imports';

.button {
    padding: .425rem .625rem;
    cursor: pointer;
    border: 1px solid;
    border-color: #ccc;
    border-radius: .25rem;
    color: inherit;
    line-height: normal;
    display: inline-block;
    font-size: .9rem;
    text-decoration: none;
    transition: border-color .2s;
}

.button:active, .button:focus {
    outline: none;
}

.button--large {
    padding: .425rem 5rem;
}

.button--medium {
    padding: .625rem .825rem;
    font-size: .85rem;
}

.button--small {
    padding: .25rem .4rem;
    font-size: .75rem;
}

.button--tiny {
    padding: .15rem;
    font-size: .55rem;
}

.button--block {
    display: block;
    width: 100%;
}

.button:disabled {
    opacity: .65;
    cursor: not-allowed;
}

.no-touch .button:hover {
    transform: scale(1.05);
}

/***********
    Button animations
***********/
.button--shift-on-hover {
    transition: 0.2s;
}

.no-touch .button--shift-on-hover:hover {
    transform: translateY(-2px);
}

.button--scale-on-hover {
    transition: transform 5s ease-in-out;
}

.no-touch .button--scale-on-hover:hover {
    transform: scale(1.1);
}

/***********
    Button Group
***********/
.button-group .button {
    border-radius: 0;
}

.button-group .button:not(:first-child) {
    border-left: none;
}

.button-group .button:first-child {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.button-group .button:last-child {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

/***********
    Button Themes
***********/
.button--outline {
    background-color: white;
    border-color: transparent;
    box-shadow: none;
    color: black;
    transition: 0.2s;
}

.no-touch .button--outline:not(:disabled):hover {
    border-color: black;
}

.button--outline:not(:disabled):active {
    background-color: color(black);
    color: color(white);
}

.button--outline:not(:disabled):focus {
    
}

.button--black {
    background-color: color(white);
    border-color: color(black);
    color: color(black);
    transition: 0.2s;
}

.no-touch .button--black:not(:disabled):hover {
    background-color: color(black);
    color: color(white);
}

.button--black:not(:disabled):active {
    background-color: color(black);
    border-color: color(white);
}

.button--blue {
    background-color: color(blue);
    border-color: color(blue);
    color: white;
    transition: 0.2s;
}

.no-touch .button--blue:not(:disabled):hover {
    background-color: color(light-blue);
    border-color: color(light-blue);
}

.button--blue:not(:disabled):active {
    background-color: #234E81;
    border-color: #234E81;
}

.button--blue.button--selected {
    box-shadow: inset 0 0 3px rgba(35, 78, 129, 1);
}

.button--red {
    background-color: #c73434;
    border-color: #c73434;
    color: white;
    transition: 0.2s;
}

.no-touch .button--red:not(:disabled):hover {
    background-color: #ab2d2d;
    border-color: #ab2d2d;
}

.button--red:not(:disabled):active {
    background-color: #942727;
    border-color: #942727;
}

.button--green {
    background-color: #393;
    border-color: #393;
    color: white;
    transition: 0.2s;
}

.no-touch .button--green:not(:disabled):hover {
    background-color: #277527;
    border-color: #277527;
}

.button--green:not(:disabled):active {
    background-color: #206120;
    border-color: #206120;
}

.button--ghost {
    background-color: none;
    border-color: transparent;
    transition: 0.2s;
}

.button--grey {
    background-color: #ddd;
    border-color: #ddd;
    transition: 0.2s;
}

.no-touch .button--grey:not(:disabled):hover {
    background-color: #e3e7ef;
    border-color: #e3e7ef;
}

.button--white {
    background-color: white;
    border-color: #ddd;
}

.button--white:not(:disabled):hover {
    background-color: #f7f7f7;
}

.button--white.button--selected {
    box-shadow: 0 0 8px rgba(204,204,204,0.8) inset;
}