.no-touch .item-component__icon {
	display: none;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.no-touch .item-component:hover .item-component__icon, .item-component--open .item-component__icon {
	display: block;
}

.no-touch .item-component {
	transition: background-color .5s;
}

.no-touch .item-component__icon:hover {
	transform: scale(1.2);
}

.item-component__move {
	display: none;
	margin-top: -3px;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.no-touch .item-component:hover .item-component__move, .item-component--open .item-component__move {
	display: flex;
}

.item-component__move i {
	font-size: 110%;
	transition: all .2s ease-in-out;
}

.no-touch .item-component__move i:hover {
	transform: scale(1.4);
	cursor: pointer;
}

.item-component__order {
	min-width: 1rem;
}