.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.display-none {
    display: none;
}