.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-static {
    position: static;
}

.position-sticky {
    position: sticky;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}