.border-radius-all {
    border-radius: .25rem;
}

.border-bottom-left-radius {
    border-bottom-left-radius: .25rem;
}

.border-bottom-right-radius {
    border-bottom-right-radius: .25rem;
}

.border-top-right-radius {
    border-top-right-radius: .25rem;
}

.border-top-left-radius {
    border-top-left-radius: .25rem;
}

.border-left-radius {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.border-bottom-radius {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.border-right-radius {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.border-top-radius {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}