.box-shadow {
    box-shadow: 0 0 4px rgba(59,64,69,0.1);
}

.box-shadow-inset {
    box-shadow: 0 0 4px rgba(59,64,69,0.1) inset;
}

.box-shadow-subtle {
    box-shadow: 0 1px 3px 0 rgba(89, 105, 128, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-tiny {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-large {
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
}