$colors: (
	white: #fff,
	black: #000,

	blue: #0747A6,
	light-blue: #0065FF,

	dark-blue: #4b5d7e,
	darker-blue: #234E81,

	midnight-blue: #132144,

	red: #c73434,
	dark-red: #ab2d2d,
	darker-red: #942727,

	green: #393,
	dark-green: #277527,
	darker-green: #206120,

	grey: #ddd,
	
	light-grey: #f8f8f8,
	dark-grey: #ccc,

	blue-grey: #dfe3ed
);